<md-toolbar [color]="color" class="toolbar">
  <div class="logo" alt="Solnet logo"></div>
  <div class="fill-toolbar-gap"></div>

  <div class="desktop-row">
    <md-button [routerLink]="['/people/list']">Directory</md-button>
    <md-button [routerLink]="['/people/quiz']">Quiz</md-button>
    <md-button [routerLink]="['/people/leaderboard']">Leaderboard</md-button>
  </div>

  <md-toolbar-row class="mobile-row">
    <md-button [routerLink]="['/people/list']">Directory</md-button>
    <md-button [routerLink]="['/people/quiz']">Quiz</md-button>
    <md-button [routerLink]="['/people/leaderboard']">Leaderboard</md-button>
  </md-toolbar-row>


</md-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
