  <input class="search-input" [(ngModel)]="searchModel" (ngModelChange)="onSearchChange($event)" placeholder='Search staff' />

  <button (click)="onSwitchViewClick($event)">Change view</button>

  <md-list *ngIf="showList">
    <md-list-item *ngFor="let user of filteredUsers">

      <img md-list-avatar src="{{user.profile.image_192}}"/>

      <h3 md-line>{{user.real_name || user.name}}</h3>

      <p md-line>{{user.profile.phone}}</p>

      <div class="user-presence {{user.presence}}"></div>

    </md-list-item>
  </md-list>


  <md-grid-list cols="3" *ngIf=" ! showList ">
    <md-grid-tile *ngFor="let user of filteredUsers">
      <div class="grid-container">
        <img src="{{user.profile.image_192}}"/>

        <h3>{{user.real_name || user.name}}</h3>
      </div>

    </md-grid-tile>
  </md-grid-list>
