language: node_js

node_js:
- '5'

before_install:
- npm install -g bower gulp-cli mocha typings

script:
# - gulp coverage_frontend
# - npm run-script test-on-travis

services: mongodb

before_deploy:
- npm run-script build-dist

deploy:
  app: solnet-people-dev
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: RRaMfzFVshQwZm3c4LnHFDP9BU9V/RB2xF2AZS6fa/wPPY5W0CwPrdC/vER+47AptL1KOnIVtUfv1urqt9cLcYo048XYC8dT0O0G51/gZ29Vf0/lrYM//yKDeG0oz84jQPdpp/iW1iXIA6pIBkR5eQ0q3ntBOPbj3R7tNVKyEzd9LRsD7sjGMZwbF/5AsOTp/aITp1x07XAbLRZmnLv9oVPL0btUplgb3xzEpYY2b8lFhOn3WKGCL6bw6+n6+/wikocYA6wpk5ETL/wuvBiVBvAOUqKB2sRymJeJxyW2Agda3pnbCKjzj/U+hFQqIhiOkvmF3a3N6pZiGxMvoyRfBH8rXtkk88ElXXBPIj2XQtDKs1Iy1PtAftsp0LBkFj7cBYQ7aHO6YJRGNg1VHROt11XPBwYWYCyDO82oSXxxOWyTb5tlhoMb1bSj2xZqJAm5BuNnappSzarP/7X359ORT73+Ggt+7RJePSipDqtoPghJwjRRvCMg1Sq064C8QCOXKtbRuoyD2MfyLLpDH8L5OI7W8j21JMEH2SftljtJrYm2aLWUltauHoIe0VFVkdNIfHxPLdNFXAA9mGdLFg1bIrTeLZal2Rrj3/ubLaPr8H9MQw9YqvRey4a6cy/mmhocnwsyD/JD1VWaQKv2i8OkEddv9csbYdwezNfGfH627ts=

cache:
  directories:
  - node_modules
