.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 128px;
}

.desktop-row {
  display: none;
}

.mobile-row {
  justify-content: center;
}





@media (min-width: 400px) {

  .app-container {
    padding-top: 64px;
  }

  .mobile-row {
    display: none;
  }

  .desktop-row {
    display: block;
  }
}
