.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 64px;
}

.toolbar {
  background: rgba(14, 88, 158, 1);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  background-image: url("https://solnet.co.nz/themes/solnet/images/logo-solnet.svg");
  background-size: 140px 30px;
  width: 140px;
  height: 30px;
}
